* {
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(83, 15, 241, 0.7);
}

main {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    width: 90%;
    margin: 40px auto;
    box-shadow: 0 4px 8px rgba(0,0,0, 0.1);
}

.add-form {
    display: flex;
    margin-bottom: 50px;
    gap: 15px;
    width: 100%;
}

input {
    width: 100%;
    flex: 1;
    padding: 15px;
    border: 1px solid #DDD;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    font-weight: 600;
}

button[type="submit"] {
    background-color: rgba(83, 15, 241, 0.7);
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1,7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: rgba(130, 5, 248, 0.911);
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    padding: 10px 15px;
    border: 1px solid #DDD;
    text-align: center;
}

td {
    color: #333;
    font-weight: 600;
}

tr:nth-child(even) {
    background-color: hsl(0, 37%, 97%);
}

select {
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 8px;
    font-weight: 600;
    text-transform: capitalize;
    background-color: #ebebeb;
}

select:hover {
    background-color: #ddd;
}

.btn-action {
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn-action:nth-child(1) {
    background-color: orange;
    margin-right: 5px;
}
.btn-action:nth-child(2) {
    background-color: rgb(204, 21, 21);
    margin-right: 5px;

}